/* Write your CSS code here. */
.bg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top:-800px; */
    /* background-color: #ffc0bb; */
    height: vh;
  }
  .sub-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* background-color: white; */
  }
  .emojis-container {
    display: flex;
    background-image: url('login.jpg');
    /* background-color: black; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-top:-400px;
    margin-left: -200px;
    /* margin-bottom: 700px; */
  }
  .feednav
  {
    margin-top: -190px;
  }
  .emoji-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: #ffffff; */
    border-radius: 0px;
    margin-left: -500px;
    border-width: 0px;
    /* margin-top: -200px; */
    /* margin-bottom: 800px; */
    padding: 10px;
  }
  .list-container {
    list-style-type: none;
  }
  .tq-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #ffffff; */
    border-radius: 7px;
    border-width: 0px;
    padding: 35px;
  }
  .button {
    background-color: transparent;
    border-width: 0px;
  }
  .img {
    height: 10vh;
    width: 100%;
  }
  .love
  {
    height: 30vh;
    width: 200px;
    /* margin-top: 500px;
    margin-bottom:500px; */
  }
  .fh1
  {
    margin-bottom:900px ;
    color:black;
  }
  .feedh1
  {
    color:black;
    margin-top: -300px;
  }
  /* .feedh
  {
margin-bottom: 500px;
color:white
  }
  .feedp
  {
    margin-bottom: 500px;
    color:white
  } */