/* booking.css */

.bookbg
{
  background-image:url("../login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bform {
  display: flex;
  /* flex-direction: column; */
  /* float:left; */
  align-items: center;
  max-width: 300px;
  /* margin: auto; */

  margin-top:-400px; 
  margin-left:500px;
}

.blabel {
  margin: -2px 0;
  text-align: left;
  width: 100%;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.bbutton {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.bbutton:hover {
  background-color: #45a049;
}

.bookh1 {
  color: #333;
  margin-top:500px;
  /* margin-bottom: 200px; */
  /* margin-bottom: 100px; */
  /* margin-left: 400px; */
}
.success
{
  /* display: flex; */
  /* /* margin-top: 6000px; */
  margin-top:-100px;
  /* margin-bottom: 800px;  */
}