.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  max-width: 100px;
  margin-top: -400px;
  margin-left: 50px;
  margin-bottom: -100px;
}

.grid-item {
  border: 1px solid #ddd;
  border-radius: 8px;
}

.grid-item:hover {
  transform: scale(1.05);
}

.gridimg {
  width: 250px;
  height: 250px;
  display: block;
  border-bottom: 1px solid #ddd; /* Optional: Add a border between image and description */
}

.gridp {
  padding: 15px;
  text-align: center;
  margin: 0;
  color:white;
}
/* Add this rule to rotate the hovered item */
.grid-item.hovered {
  transform: rotate(10deg); /* Adjust the rotation angle as needed */
  transition: transform 0.3s ease-in-out;
}
.pricegrid
{
  bgcolor:rgba(95, 95, 223, 0)
}

   