/* EventList.css */
.eventlistbg
{
  background: rgb(165,167,181);
background: radial-gradient(circle, rgba(165,167,181,1) 0%, rgba(169,148,165,1) 100%);
background-repeat: no-repeat;
background-size: cover;

}
.event-list-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: -700px;
    margin-bottom: 180px;
  }
  
  .event-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .event-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden; /* Ensures the border-radius applies to the image */
  }
  
  .event-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
  }
  
  .event-item:hover img {
    transform: scale(1.1);
  }
  
  .event-item{
    padding: 10px;
    text-align: center;
  }
   .event-description {
    padding: 10px;
    text-align: center;
    color:black;
  }
  
  .event-item .event-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .event-buttons button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .event-buttons button:last-child {
    margin-right: 0;
  }
  .eventlisth1
  {
    color:black;
  }